.btn {
    color: $white;
    outline: none;
    cursor: pointer;
    height: rem(42);
    font-weight: 700;
    font-size: rem(13);
    line-height: rem(20);
    padding: rem(4) rem(16);
    user-select: none;
    text-align: center;
    white-space: nowrap;
    position: relative;
    text-decoration: none;
    display: inline-flex;
    align-items: center;
    justify-content: center;
    vertical-align: middle;
    border: rem(1) solid transparent;
    background: $blue;
    border-radius: rem(4);
    fill: $white;

    &:hover {
        color: #000;
        background: #fcc72e;
        text-decoration: none;
        fill: #000;
    }

    &:active {
        background: #ffdd2d;
    }

    &:focus,
    &.focus {
        outline: 0;
        box-shadow: 0 0 0 size-rel(5px) rgba(92, 173, 255, 0.5);
    }

    span {
        display: inline-block;
    }

    i {
        font-size: 0;
        line-height: 0;
        display: inline-block;
        height: rem(24);
    }

    span + i {
        margin-left: rem(6);
    }

    i + span {
        margin-left: rem(6);
    }
}

.btn-link {
    margin: 0;
    padding: 0;
    color: $black;
    border: none;
    outline: none;
    cursor: pointer;
    display: inline-flex;
    background: transparent;
    text-decoration: underline;

    &:hover {
        color: $black;
        text-decoration: none;
    }
}

.btn-order {
    justify-content: space-between;

    span {

        &:first-child {
            margin-right: rem(8);
        }
    }
}

.shadow {
    box-shadow: rgba(0,0,0,0.06) 0px 0px 0.75rem 0px, rgba(0,0,0,0.12) 0px 0.75rem 0.75rem 0px;
}
