{% extends "src/html/_template.njk" %}
{% set title = "Delivery" %}
{% block main %}
    <section class="main">
        <div class="container">
            <div class="showcase">
                <div class="showcase__section" data-section="0">
                    <h2 class="showcase__header">LUNCH OFFER</h2>
                    <div class="showcase__main">
                        <div class="item" data-item>
                            <div class="item__content">
                                <div class="item__header">
                                    <div class="item__title">Pork Doner Club Pita</div>
                                </div>
                                <div class="item__text">With cheese, bacon, tomato, onion and tzatziki. Served with potatoes</div>
                                <div class="item__info">
                                    <div class="item__price">
                                        <div class="item__price--current">€5.99</div>
                                        <div class="item__price--old">€6.99</div>
                                    </div>
                                </div>
                            </div>
                            <div class="item__media">
                                <img src="img/content/img__01.webp" class="img-cover" alt="">
                            </div>
                        </div><!-- .item -->
                        <div class="item" data-item>
                            <div class="item__content">
                                <div class="item__header">
                                    <div class="item__title">Tuna Bao Bun</div>
                                </div>
                                <div class="item__text">4 pieces. Steamed bao bun, filled with beef steak burger, cucumber, accompanied with chef's special BBQ sauce</div>
                                <div class="item__info">
                                    <div class="item__price">
                                        <div class="item__price--current">€5.99</div>
                                        <div class="item__price--old">€6.99</div>
                                    </div>
                                </div>
                            </div>
                            <div class="item__media">
                                <img src="img/content/img__02.webp" class="img-cover" alt="">
                            </div>
                        </div><!-- .item -->
                        <div class="item" data-item>
                            <div class="item__content">
                                <div class="item__header">
                                    <div class="item__title">Spicy Alaska Crab Bao Bun</div>
                                </div>
                                <div class="item__text">2 pieces. Steam bao bun, Alaska crab kanimi, soft shell crab, cucumber, carrot, pickled radish, coriander, basil, canihua pops, spice mayo sauce</div>
                                <div class="item__info">
                                    <div class="item__price">€8.99 </div>
                                </div>
                            </div>
                            <div class="item__media">
                                <img src="img/content/img__03.webp" class="img-cover" alt="">
                            </div>
                        </div><!-- .item -->

                        <div class="item" data-item>
                            <div class="item__content">
                                <div class="item__header">
                                    <div class="item__title">Pork Doner Club Pita</div>
                                </div>
                                <div class="item__text">With cheese, bacon, tomato, onion and tzatziki. Served with potatoes</div>
                                <div class="item__info">
                                    <div class="item__price">
                                        <div class="item__price--current">€5.99</div>
                                        <div class="item__price--old">€6.99</div>
                                    </div>
                                </div>
                            </div>
                            <div class="item__media">
                                <img src="img/content/img__05.webp" class="img-cover" alt="">
                            </div>
                        </div><!-- .item -->
                        <div class="item" data-item>
                            <div class="item__content">
                                <div class="item__header">
                                    <div class="item__title">Tuna Bao Bun</div>
                                </div>
                                <div class="item__text">4 pieces. Steamed bao bun, filled with beef steak burger, cucumber, accompanied with chef's special BBQ sauce</div>
                                <div class="item__info">
                                    <div class="item__price">
                                        <div class="item__price--current">€5.99</div>
                                        <div class="item__price--old">€6.99</div>
                                    </div>
                                </div>
                            </div>
                            <div class="item__media">
                                <img src="img/content/img__06.webp" class="img-cover" alt="">
                            </div>
                        </div><!-- .item -->
                        <div class="item" data-item>
                            <div class="item__content">
                                <div class="item__header">
                                    <div class="item__title">Spicy Alaska Crab Bao Bun</div>
                                </div>
                                <div class="item__text">2 pieces. Steam bao bun, Alaska crab kanimi, soft shell crab, cucumber, carrot, pickled radish, coriander, basil, canihua pops, spice mayo sauce</div>
                                <div class="item__info">
                                    <div class="item__price">€8.99 </div>
                                </div>
                            </div>
                            <div class="item__media">
                                <img src="img/content/img__07.webp" class="img-cover" alt="">
                            </div>
                        </div><!-- .item -->

                        <div class="item" data-item>
                            <div class="item__content">
                                <div class="item__header">
                                    <div class="item__title">Pork Doner Club Pita</div>
                                </div>
                                <div class="item__text">With cheese, bacon, tomato, onion and tzatziki. Served with potatoes</div>
                                <div class="item__info">
                                    <div class="item__price">
                                        <div class="item__price--current">€5.99</div>
                                        <div class="item__price--old">€6.99</div>
                                    </div>
                                </div>
                            </div>
                            <div class="item__media">
                                <img src="img/content/img__09.webp" class="img-cover" alt="">
                            </div>
                        </div><!-- .item -->
                        <div class="item" data-item>
                            <div class="item__content">
                                <div class="item__header">
                                    <div class="item__title">Tuna Bao Bun</div>
                                </div>
                                <div class="item__text">4 pieces. Steamed bao bun, filled with beef steak burger, cucumber, accompanied with chef's special BBQ sauce</div>
                                <div class="item__info">
                                    <div class="item__price">
                                        <div class="item__price--current">€5.99</div>
                                        <div class="item__price--old">€6.99</div>
                                    </div>
                                </div>
                            </div>
                            <div class="item__media">
                                <img src="img/content/img__10.webp" class="img-cover" alt="">
                            </div>
                        </div><!-- .item -->
                        <div class="item" data-item>
                            <div class="item__content">
                                <div class="item__header">
                                    <div class="item__title">Spicy Alaska Crab Bao Bun</div>
                                </div>
                                <div class="item__text">2 pieces. Steam bao bun, Alaska crab kanimi, soft shell crab, cucumber, carrot, pickled radish, coriander, basil, canihua pops, spice mayo sauce</div>
                                <div class="item__info">
                                    <div class="item__price">€8.99 </div>
                                </div>
                            </div>
                            <div class="item__media">
                                <img src="img/content/img__11.webp" class="img-cover" alt="">
                            </div>
                        </div><!-- .item -->
                    </div>
                </div><!-- .showcase__section -->

                <div class="showcase__section" data-section="1">
                    <h2 class="showcase__header">SUSHI TACOS</h2>
                    <div class="showcase__main">
                        <div class="item" data-item>
                            <div class="item__content">
                                <div class="item__header">
                                    <div class="item__title">Pork Doner Club Pita</div>
                                </div>
                                <div class="item__text">With cheese, bacon, tomato, onion and tzatziki. Served with potatoes</div>
                                <div class="item__info">
                                    <div class="item__price">
                                        <div class="item__price--current">€5.99</div>
                                        <div class="item__price--old">€6.99</div>
                                    </div>
                                </div>
                            </div>
                            <div class="item__media">
                                <img src="img/content/img__01.webp" class="img-cover" alt="">
                            </div>
                        </div><!-- .item -->
                        <div class="item" data-item>
                            <div class="item__content">
                                <div class="item__header">
                                    <div class="item__title">Tuna Bao Bun</div>
                                </div>
                                <div class="item__text">4 pieces. Steamed bao bun, filled with beef steak burger, cucumber, accompanied with chef's special BBQ sauce</div>
                                <div class="item__info">
                                    <div class="item__price">
                                        <div class="item__price--current">€5.99</div>
                                        <div class="item__price--old">€6.99</div>
                                    </div>
                                </div>
                            </div>
                            <div class="item__media">
                                <img src="img/content/img__02.webp" class="img-cover" alt="">
                            </div>
                        </div><!-- .item -->
                        <div class="item" data-item>
                            <div class="item__content">
                                <div class="item__header">
                                    <div class="item__title">Spicy Alaska Crab Bao Bun</div>
                                </div>
                                <div class="item__text">2 pieces. Steam bao bun, Alaska crab kanimi, soft shell crab, cucumber, carrot, pickled radish, coriander, basil, canihua pops, spice mayo sauce</div>
                                <div class="item__info">
                                    <div class="item__price">€8.99 </div>
                                </div>
                            </div>
                            <div class="item__media">
                                <img src="img/content/img__03.webp" class="img-cover" alt="">
                            </div>
                        </div><!-- .item -->
                        <div class="item" data-item>
                            <div class="item__content">
                                <div class="item__header">
                                    <div class="item__title">Pork Doner Club Pita</div>
                                </div>
                                <div class="item__text">With cheese, bacon, tomato, onion and tzatziki. Served with potatoes</div>
                                <div class="item__info">
                                    <div class="item__price">
                                        <div class="item__price--current">€5.99</div>
                                        <div class="item__price--old">€6.99</div>
                                    </div>
                                </div>
                            </div>
                            <div class="item__media">
                                <img src="img/content/img__09.webp" class="img-cover" alt="">
                            </div>
                        </div><!-- .item -->
                        <div class="item" data-item>
                            <div class="item__content">
                                <div class="item__header">
                                    <div class="item__title">Tuna Bao Bun</div>
                                </div>
                                <div class="item__text">4 pieces. Steamed bao bun, filled with beef steak burger, cucumber, accompanied with chef's special BBQ sauce</div>
                                <div class="item__info">
                                    <div class="item__price">
                                        <div class="item__price--current">€5.99</div>
                                        <div class="item__price--old">€6.99</div>
                                    </div>
                                </div>
                            </div>
                            <div class="item__media">
                                <img src="img/content/img__10.webp" class="img-cover" alt="">
                            </div>
                        </div><!-- .item -->
                        <div class="item" data-item>
                            <div class="item__content">
                                <div class="item__header">
                                    <div class="item__title">Spicy Alaska Crab Bao Bun</div>
                                </div>
                                <div class="item__text">2 pieces. Steam bao bun, Alaska crab kanimi, soft shell crab, cucumber, carrot, pickled radish, coriander, basil, canihua pops, spice mayo sauce</div>
                                <div class="item__info">
                                    <div class="item__price">€8.99 </div>
                                </div>
                            </div>
                            <div class="item__media">
                                <img src="img/content/img__11.webp" class="img-cover" alt="">
                            </div>
                        </div><!-- .item -->
                    </div>
                </div><!-- .showcase__section -->

                <div class="showcase__section" data-section="2">
                    <h2 class="showcase__header">POKE BOWLS</h2>
                    <div class="showcase__main">
                        <div class="item" data-item>
                            <div class="item__content">
                                <div class="item__header">
                                    <div class="item__title">Pork Doner Club Pita</div>
                                </div>
                                <div class="item__text">With cheese, bacon, tomato, onion and tzatziki. Served with potatoes</div>
                                <div class="item__info">
                                    <div class="item__price">
                                        <div class="item__price--current">€5.99</div>
                                        <div class="item__price--old">€6.99</div>
                                    </div>
                                </div>
                            </div>
                            <div class="item__media">
                                <img src="img/content/img__01.webp" class="img-cover" alt="">
                            </div>
                        </div><!-- .item -->
                        <div class="item" data-item>
                            <div class="item__content">
                                <div class="item__header">
                                    <div class="item__title">Tuna Bao Bun</div>
                                </div>
                                <div class="item__text">4 pieces. Steamed bao bun, filled with beef steak burger, cucumber, accompanied with chef's special BBQ sauce</div>
                                <div class="item__info">
                                    <div class="item__price">
                                        <div class="item__price--current">€5.99</div>
                                        <div class="item__price--old">€6.99</div>
                                    </div>
                                </div>
                            </div>
                            <div class="item__media">
                                <img src="img/content/img__02.webp" class="img-cover" alt="">
                            </div>
                        </div><!-- .item -->
                        <div class="item" data-item>
                            <div class="item__content">
                                <div class="item__header">
                                    <div class="item__title">Spicy Alaska Crab Bao Bun</div>
                                </div>
                                <div class="item__text">2 pieces. Steam bao bun, Alaska crab kanimi, soft shell crab, cucumber, carrot, pickled radish, coriander, basil, canihua pops, spice mayo sauce</div>
                                <div class="item__info">
                                    <div class="item__price">€8.99 </div>
                                </div>
                            </div>
                            <div class="item__media">
                                <img src="img/content/img__03.webp" class="img-cover" alt="">
                            </div>
                        </div><!-- .item -->
                        <div class="item" data-item>
                            <div class="item__content">
                                <div class="item__header">
                                    <div class="item__title">Pork Doner Club Pita</div>
                                </div>
                                <div class="item__text">With cheese, bacon, tomato, onion and tzatziki. Served with potatoes</div>
                                <div class="item__info">
                                    <div class="item__price">
                                        <div class="item__price--current">€5.99</div>
                                        <div class="item__price--old">€6.99</div>
                                    </div>
                                </div>
                            </div>
                            <div class="item__media">
                                <img src="img/content/img__09.webp" class="img-cover" alt="">
                            </div>
                        </div><!-- .item -->
                        <div class="item" data-item>
                            <div class="item__content">
                                <div class="item__header">
                                    <div class="item__title">Tuna Bao Bun</div>
                                </div>
                                <div class="item__text">4 pieces. Steamed bao bun, filled with beef steak burger, cucumber, accompanied with chef's special BBQ sauce</div>
                                <div class="item__info">
                                    <div class="item__price">
                                        <div class="item__price--current">€5.99</div>
                                        <div class="item__price--old">€6.99</div>
                                    </div>
                                </div>
                            </div>
                            <div class="item__media">
                                <img src="img/content/img__10.webp" class="img-cover" alt="">
                            </div>
                        </div><!-- .item -->
                        <div class="item" data-item>
                            <div class="item__content">
                                <div class="item__header">
                                    <div class="item__title">Spicy Alaska Crab Bao Bun</div>
                                </div>
                                <div class="item__text">2 pieces. Steam bao bun, Alaska crab kanimi, soft shell crab, cucumber, carrot, pickled radish, coriander, basil, canihua pops, spice mayo sauce</div>
                                <div class="item__info">
                                    <div class="item__price">€8.99 </div>
                                </div>
                            </div>
                            <div class="item__media">
                                <img src="img/content/img__11.webp" class="img-cover" alt="">
                            </div>
                        </div><!-- .item -->
                    </div>
                </div><!-- .showcase__section -->

                <div class="showcase__section" data-section="3">
                    <h2 class="showcase__header">NOODLES</h2>
                    <div class="showcase__main">
                        <div class="item" data-item>
                            <div class="item__content">
                                <div class="item__header">
                                    <div class="item__title">Pork Doner Club Pita</div>
                                </div>
                                <div class="item__text">With cheese, bacon, tomato, onion and tzatziki. Served with potatoes</div>
                                <div class="item__info">
                                    <div class="item__price">
                                        <div class="item__price--current">€5.99</div>
                                        <div class="item__price--old">€6.99</div>
                                    </div>
                                </div>
                            </div>
                            <div class="item__media">
                                <img src="img/content/img__01.webp" class="img-cover" alt="">
                            </div>
                        </div><!-- .item -->
                        <div class="item" data-item>
                            <div class="item__content">
                                <div class="item__header">
                                    <div class="item__title">Tuna Bao Bun</div>
                                </div>
                                <div class="item__text">4 pieces. Steamed bao bun, filled with beef steak burger, cucumber, accompanied with chef's special BBQ sauce</div>
                                <div class="item__info">
                                    <div class="item__price">
                                        <div class="item__price--current">€5.99</div>
                                        <div class="item__price--old">€6.99</div>
                                    </div>
                                </div>
                            </div>
                            <div class="item__media">
                                <img src="img/content/img__02.webp" class="img-cover" alt="">
                            </div>
                        </div><!-- .item -->
                        <div class="item" data-item>
                            <div class="item__content">
                                <div class="item__header">
                                    <div class="item__title">Spicy Alaska Crab Bao Bun</div>
                                </div>
                                <div class="item__text">2 pieces. Steam bao bun, Alaska crab kanimi, soft shell crab, cucumber, carrot, pickled radish, coriander, basil, canihua pops, spice mayo sauce</div>
                                <div class="item__info">
                                    <div class="item__price">€8.99 </div>
                                </div>
                            </div>
                            <div class="item__media">
                                <img src="img/content/img__03.webp" class="img-cover" alt="">
                            </div>
                        </div><!-- .item -->
                        <div class="item" data-item>
                            <div class="item__content">
                                <div class="item__header">
                                    <div class="item__title">Pork Doner Club Pita</div>
                                </div>
                                <div class="item__text">With cheese, bacon, tomato, onion and tzatziki. Served with potatoes</div>
                                <div class="item__info">
                                    <div class="item__price">
                                        <div class="item__price--current">€5.99</div>
                                        <div class="item__price--old">€6.99</div>
                                    </div>
                                </div>
                            </div>
                            <div class="item__media">
                                <img src="img/content/img__09.webp" class="img-cover" alt="">
                            </div>
                        </div><!-- .item -->
                        <div class="item" data-item>
                            <div class="item__content">
                                <div class="item__header">
                                    <div class="item__title">Tuna Bao Bun</div>
                                </div>
                                <div class="item__text">4 pieces. Steamed bao bun, filled with beef steak burger, cucumber, accompanied with chef's special BBQ sauce</div>
                                <div class="item__info">
                                    <div class="item__price">
                                        <div class="item__price--current">€5.99</div>
                                        <div class="item__price--old">€6.99</div>
                                    </div>
                                </div>
                            </div>
                            <div class="item__media">
                                <img src="img/content/img__10.webp" class="img-cover" alt="">
                            </div>
                        </div><!-- .item -->
                        <div class="item" data-item>
                            <div class="item__content">
                                <div class="item__header">
                                    <div class="item__title">Spicy Alaska Crab Bao Bun</div>
                                </div>
                                <div class="item__text">2 pieces. Steam bao bun, Alaska crab kanimi, soft shell crab, cucumber, carrot, pickled radish, coriander, basil, canihua pops, spice mayo sauce</div>
                                <div class="item__info">
                                    <div class="item__price">€8.99 </div>
                                </div>
                            </div>
                            <div class="item__media">
                                <img src="img/content/img__11.webp" class="img-cover" alt="">
                            </div>
                        </div><!-- .item -->
                    </div>
                </div><!-- .showcase__section -->

                <div class="showcase__section" data-section="4">
                    <h2 class="showcase__header">SOUPS</h2>
                    <div class="showcase__main">
                        <div class="item" data-item>
                            <div class="item__content">
                                <div class="item__header">
                                    <div class="item__title">Pork Doner Club Pita</div>
                                </div>
                                <div class="item__text">With cheese, bacon, tomato, onion and tzatziki. Served with potatoes</div>
                                <div class="item__info">
                                    <div class="item__price">
                                        <div class="item__price--current">€5.99</div>
                                        <div class="item__price--old">€6.99</div>
                                    </div>
                                </div>
                            </div>
                            <div class="item__media">
                                <img src="img/content/img__01.webp" class="img-cover" alt="">
                            </div>
                        </div><!-- .item -->
                        <div class="item" data-item>
                            <div class="item__content">
                                <div class="item__header">
                                    <div class="item__title">Tuna Bao Bun</div>
                                </div>
                                <div class="item__text">4 pieces. Steamed bao bun, filled with beef steak burger, cucumber, accompanied with chef's special BBQ sauce</div>
                                <div class="item__info">
                                    <div class="item__price">
                                        <div class="item__price--current">€5.99</div>
                                        <div class="item__price--old">€6.99</div>
                                    </div>
                                </div>
                            </div>
                            <div class="item__media">
                                <img src="img/content/img__02.webp" class="img-cover" alt="">
                            </div>
                        </div><!-- .item -->
                        <div class="item" data-item>
                            <div class="item__content">
                                <div class="item__header">
                                    <div class="item__title">Spicy Alaska Crab Bao Bun</div>
                                </div>
                                <div class="item__text">2 pieces. Steam bao bun, Alaska crab kanimi, soft shell crab, cucumber, carrot, pickled radish, coriander, basil, canihua pops, spice mayo sauce</div>
                                <div class="item__info">
                                    <div class="item__price">€8.99 </div>
                                </div>
                            </div>
                            <div class="item__media">
                                <img src="img/content/img__03.webp" class="img-cover" alt="">
                            </div>
                        </div><!-- .item -->
                        <div class="item" data-item>
                            <div class="item__content">
                                <div class="item__header">
                                    <div class="item__title">Pork Doner Club Pita</div>
                                </div>
                                <div class="item__text">With cheese, bacon, tomato, onion and tzatziki. Served with potatoes</div>
                                <div class="item__info">
                                    <div class="item__price">
                                        <div class="item__price--current">€5.99</div>
                                        <div class="item__price--old">€6.99</div>
                                    </div>
                                </div>
                            </div>
                            <div class="item__media">
                                <img src="img/content/img__09.webp" class="img-cover" alt="">
                            </div>
                        </div><!-- .item -->
                        <div class="item" data-item>
                            <div class="item__content">
                                <div class="item__header">
                                    <div class="item__title">Tuna Bao Bun</div>
                                </div>
                                <div class="item__text">4 pieces. Steamed bao bun, filled with beef steak burger, cucumber, accompanied with chef's special BBQ sauce</div>
                                <div class="item__info">
                                    <div class="item__price">
                                        <div class="item__price--current">€5.99</div>
                                        <div class="item__price--old">€6.99</div>
                                    </div>
                                </div>
                            </div>
                            <div class="item__media">
                                <img src="img/content/img__10.webp" class="img-cover" alt="">
                            </div>
                        </div><!-- .item -->
                        <div class="item" data-item>
                            <div class="item__content">
                                <div class="item__header">
                                    <div class="item__title">Spicy Alaska Crab Bao Bun</div>
                                </div>
                                <div class="item__text">2 pieces. Steam bao bun, Alaska crab kanimi, soft shell crab, cucumber, carrot, pickled radish, coriander, basil, canihua pops, spice mayo sauce</div>
                                <div class="item__info">
                                    <div class="item__price">€8.99 </div>
                                </div>
                            </div>
                            <div class="item__media">
                                <img src="img/content/img__11.webp" class="img-cover" alt="">
                            </div>
                        </div><!-- .item -->
                    </div>
                </div><!-- .showcase__section -->

                <div class="showcase__section" data-section="5">
                    <h2 class="showcase__header">SIDE DISHES </h2>
                    <div class="showcase__main">
                        <div class="item" data-item>
                            <div class="item__content">
                                <div class="item__header">
                                    <div class="item__title">Pork Doner Club Pita</div>
                                </div>
                                <div class="item__text">With cheese, bacon, tomato, onion and tzatziki. Served with potatoes</div>
                                <div class="item__info">
                                    <div class="item__price">
                                        <div class="item__price--current">€5.99</div>
                                        <div class="item__price--old">€6.99</div>
                                    </div>
                                </div>
                            </div>
                            <div class="item__media">
                                <img src="img/content/img__01.webp" class="img-cover" alt="">
                            </div>
                        </div><!-- .item -->
                        <div class="item" data-item>
                            <div class="item__content">
                                <div class="item__header">
                                    <div class="item__title">Tuna Bao Bun</div>
                                </div>
                                <div class="item__text">4 pieces. Steamed bao bun, filled with beef steak burger, cucumber, accompanied with chef's special BBQ sauce</div>
                                <div class="item__info">
                                    <div class="item__price">
                                        <div class="item__price--current">€5.99</div>
                                        <div class="item__price--old">€6.99</div>
                                    </div>
                                </div>
                            </div>
                            <div class="item__media">
                                <img src="img/content/img__02.webp" class="img-cover" alt="">
                            </div>
                        </div><!-- .item -->
                        <div class="item" data-item>
                            <div class="item__content">
                                <div class="item__header">
                                    <div class="item__title">Spicy Alaska Crab Bao Bun</div>
                                </div>
                                <div class="item__text">2 pieces. Steam bao bun, Alaska crab kanimi, soft shell crab, cucumber, carrot, pickled radish, coriander, basil, canihua pops, spice mayo sauce</div>
                                <div class="item__info">
                                    <div class="item__price">€8.99 </div>
                                </div>
                            </div>
                            <div class="item__media">
                                <img src="img/content/img__03.webp" class="img-cover" alt="">
                            </div>
                        </div><!-- .item -->
                        <div class="item" data-item>
                            <div class="item__content">
                                <div class="item__header">
                                    <div class="item__title">Pork Doner Club Pita</div>
                                </div>
                                <div class="item__text">With cheese, bacon, tomato, onion and tzatziki. Served with potatoes</div>
                                <div class="item__info">
                                    <div class="item__price">
                                        <div class="item__price--current">€5.99</div>
                                        <div class="item__price--old">€6.99</div>
                                    </div>
                                </div>
                            </div>
                            <div class="item__media">
                                <img src="img/content/img__09.webp" class="img-cover" alt="">
                            </div>
                        </div><!-- .item -->
                        <div class="item" data-item>
                            <div class="item__content">
                                <div class="item__header">
                                    <div class="item__title">Tuna Bao Bun</div>
                                </div>
                                <div class="item__text">4 pieces. Steamed bao bun, filled with beef steak burger, cucumber, accompanied with chef's special BBQ sauce</div>
                                <div class="item__info">
                                    <div class="item__price">
                                        <div class="item__price--current">€5.99</div>
                                        <div class="item__price--old">€6.99</div>
                                    </div>
                                </div>
                            </div>
                            <div class="item__media">
                                <img src="img/content/img__10.webp" class="img-cover" alt="">
                            </div>
                        </div><!-- .item -->
                        <div class="item" data-item>
                            <div class="item__content">
                                <div class="item__header">
                                    <div class="item__title">Spicy Alaska Crab Bao Bun</div>
                                </div>
                                <div class="item__text">2 pieces. Steam bao bun, Alaska crab kanimi, soft shell crab, cucumber, carrot, pickled radish, coriander, basil, canihua pops, spice mayo sauce</div>
                                <div class="item__info">
                                    <div class="item__price">€8.99 </div>
                                </div>
                            </div>
                            <div class="item__media">
                                <img src="img/content/img__11.webp" class="img-cover" alt="">
                            </div>
                        </div><!-- .item -->
                    </div>
                </div><!-- .showcase__section -->

                <div class="showcase__section" data-section="6">
                    <h2 class="showcase__header">SALADS</h2>
                    <div class="showcase__main">
                        <div class="item" data-item>
                            <div class="item__content">
                                <div class="item__header">
                                    <div class="item__title">Pork Doner Club Pita</div>
                                </div>
                                <div class="item__text">With cheese, bacon, tomato, onion and tzatziki. Served with potatoes</div>
                                <div class="item__info">
                                    <div class="item__price">
                                        <div class="item__price--current">€5.99</div>
                                        <div class="item__price--old">€6.99</div>
                                    </div>
                                </div>
                            </div>
                            <div class="item__media">
                                <img src="img/content/img__01.webp" class="img-cover" alt="">
                            </div>
                        </div><!-- .item -->
                        <div class="item" data-item>
                            <div class="item__content">
                                <div class="item__header">
                                    <div class="item__title">Tuna Bao Bun</div>
                                </div>
                                <div class="item__text">4 pieces. Steamed bao bun, filled with beef steak burger, cucumber, accompanied with chef's special BBQ sauce</div>
                                <div class="item__info">
                                    <div class="item__price">
                                        <div class="item__price--current">€5.99</div>
                                        <div class="item__price--old">€6.99</div>
                                    </div>
                                </div>
                            </div>
                            <div class="item__media">
                                <img src="img/content/img__02.webp" class="img-cover" alt="">
                            </div>
                        </div><!-- .item -->
                        <div class="item" data-item>
                            <div class="item__content">
                                <div class="item__header">
                                    <div class="item__title">Spicy Alaska Crab Bao Bun</div>
                                </div>
                                <div class="item__text">2 pieces. Steam bao bun, Alaska crab kanimi, soft shell crab, cucumber, carrot, pickled radish, coriander, basil, canihua pops, spice mayo sauce</div>
                                <div class="item__info">
                                    <div class="item__price">€8.99 </div>
                                </div>
                            </div>
                            <div class="item__media">
                                <img src="img/content/img__03.webp" class="img-cover" alt="">
                            </div>
                        </div><!-- .item -->
                        <div class="item" data-item>
                            <div class="item__content">
                                <div class="item__header">
                                    <div class="item__title">Pork Doner Club Pita</div>
                                </div>
                                <div class="item__text">With cheese, bacon, tomato, onion and tzatziki. Served with potatoes</div>
                                <div class="item__info">
                                    <div class="item__price">
                                        <div class="item__price--current">€5.99</div>
                                        <div class="item__price--old">€6.99</div>
                                    </div>
                                </div>
                            </div>
                            <div class="item__media">
                                <img src="img/content/img__09.webp" class="img-cover" alt="">
                            </div>
                        </div><!-- .item -->
                        <div class="item" data-item>
                            <div class="item__content">
                                <div class="item__header">
                                    <div class="item__title">Tuna Bao Bun</div>
                                </div>
                                <div class="item__text">4 pieces. Steamed bao bun, filled with beef steak burger, cucumber, accompanied with chef's special BBQ sauce</div>
                                <div class="item__info">
                                    <div class="item__price">
                                        <div class="item__price--current">€5.99</div>
                                        <div class="item__price--old">€6.99</div>
                                    </div>
                                </div>
                            </div>
                            <div class="item__media">
                                <img src="img/content/img__10.webp" class="img-cover" alt="">
                            </div>
                        </div><!-- .item -->
                        <div class="item" data-item>
                            <div class="item__content">
                                <div class="item__header">
                                    <div class="item__title">Spicy Alaska Crab Bao Bun</div>
                                </div>
                                <div class="item__text">2 pieces. Steam bao bun, Alaska crab kanimi, soft shell crab, cucumber, carrot, pickled radish, coriander, basil, canihua pops, spice mayo sauce</div>
                                <div class="item__info">
                                    <div class="item__price">€8.99 </div>
                                </div>
                            </div>
                            <div class="item__media">
                                <img src="img/content/img__11.webp" class="img-cover" alt="">
                            </div>
                        </div><!-- .item -->
                    </div>
                </div><!-- .showcase__section -->

            </div><!-- .showcase -->
        </div>
    </section><!-- .main -->
{% endblock %}

{% block header %}
    <header class="header">
        <div class="container">
            <div class="header__primary">
                <div class="header__back">
                    <button type="button" class="btn-round">
                        <i>
                            <svg class="ico-svg" viewBox="0 0 448 512" xmlns="http://www.w3.org/2000/svg">
                                <use xlink:href="img/sprites/sprite-mono.svg#arrow-left" xmlns:xlink="http://www.w3.org/1999/xlink"></use>
                            </svg>
                        </i>
                    </button>
                </div>
                <div class="header__content">
                    <div class="header__place">Papa John's Pizza Larnaca</div>
                    <button type="button" class="header__delivery">Выбрать день и время</button>
                </div>
                <div class="header__search">
                    <button type="button" class="btn-round">
                        <i>
                            <svg class="ico-svg" viewBox="0 0 512 512" xmlns="http://www.w3.org/2000/svg">
                                <use xlink:href="img/sprites/sprite-mono.svg#magnifying-glass" xmlns:xlink="http://www.w3.org/1999/xlink"></use>
                            </svg>
                        </i>
                    </button>
                </div>
            </div>
            <div class="header__menu">
                <div class="swiper" data-section-nav>
                    <div class="swiper-wrapper">
                        <div class="swiper-slide">
                            <button class="menu-button active" data-nav="0">LUNCH OFFER</button>
                        </div>
                        <div class="swiper-slide">
                            <button class="menu-button" data-nav="1">SUSHI TACOS</button>
                        </div>
                        <div class="swiper-slide">
                            <button class="menu-button" data-nav="2">POKE BOWLS</button>
                        </div>
                        <div class="swiper-slide">
                            <button class="menu-button" data-nav="3">NOODLES</button>
                        </div>
                        <div class="swiper-slide">
                            <button class="menu-button" data-nav="4">SOUPS</button>
                        </div>
                        <div class="swiper-slide">
                            <button class="menu-button" data-nav="5">SIDE DISHES</button>
                        </div>
                        <div class="swiper-slide">
                            <button class="menu-button" data-nav="6">SALADS</button>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </header><!-- .header -->
{% endblock %}

{% block footer %}
    <div class="product-view">
        <div class="product-view__fixed">
            <div class="product-view__close">
                <button type="button" class="btn-round btn-round--white shadow" data-product-close>
                    <i>
                        <svg class="ico-svg" viewBox="0 0 320 512" xmlns="http://www.w3.org/2000/svg">
                            <use xlink:href="img/sprites/sprite-mono.svg#xmark" xmlns:xlink="http://www.w3.org/1999/xlink"></use>
                        </svg>
                    </i>
                </button>
            </div>
        </div>
        <div class="product-view__main">
            <div class="product-view__media">
                <img src="img/content/img__01.webp" class="img-cover" alt="">
            </div>
            <div class="product-view__content">
                <div class="product-view__group product-view__group--border">
                    <div class="product-view__top">
                        <h1 class="product-view__header">Prawns Soup</h1>
                    </div>
                    <div class="product-view__meta">
                        <div class="item__price">
                            <div class="item__price--current">€5.99</div>
                            <div class="item__price--old">€6.99</div>
                        </div>
                    </div>
                    <div class="product-view__text">Sushi rice, tuna, avocado, wakame, mango, masago caviar, tempura flakes, ponzu sauce</div>
                </div><!-- .product-view__group -->
                <div class="product-view__group">
                    <div class="product-view__top">
                        <div class="product-view__title">Choose ingredients</div>
                        <button type="button" class="btn-icon">
                            <svg class="ico-svg" viewBox="0 0 512 512" xmlns="http://www.w3.org/2000/svg">
                                <use xlink:href="img/sprites/sprite-mono.svg#circle-info" xmlns:xlink="http://www.w3.org/1999/xlink"></use>
                            </svg>
                        </button>
                    </div>
                    <div class="product-view__description">Choose up to 8 additional items</div>
                    <div class="product-view__list">
                        <div class="options">
                            <div class="options__item">
                                <div class="options__text">
                                    <label class="pretty-checkbox">
                                        <input type="checkbox" name="n1" class="pretty-checkbox__input" value="1">
                                        <span class="pretty-checkbox__label">Mighty vegan chick*n strips</span>
                                    </label>
                                </div>
                                <div class="options__price">+€6.99</div>
                            </div><!-- .options__item -->
                            <div class="options__item">
                                <div class="options__text">
                                    <label class="pretty-checkbox">
                                        <input type="checkbox" name="n1" class="pretty-checkbox__input" value="1">
                                        <span class="pretty-checkbox__label">chicken breast 100gr</span>
                                    </label>
                                </div>
                                <div class="options__price">+€8.99</div>
                            </div><!-- .options__item -->
                            <div class="options__item">
                                <div class="options__text">
                                    <label class="pretty-checkbox">
                                        <input type="checkbox" name="n1" class="pretty-checkbox__input" value="1">
                                        <span class="pretty-checkbox__label">pork 100gr</span>
                                    </label>
                                </div>
                                <div class="options__price">+€5.99</div>
                            </div><!-- .options__item -->
                            <div class="options__item">
                                <div class="options__text">
                                    <label class="pretty-checkbox">
                                        <input type="checkbox" name="n1" class="pretty-checkbox__input" value="1">
                                        <span class="pretty-checkbox__label">fresh prawns 5 pieces </span>
                                    </label>
                                </div>
                                <div class="options__price">+€2.99</div>
                            </div><!-- .options__item -->
                            <div class="options__item">
                                <div class="options__text">
                                    <label class="pretty-checkbox">
                                        <input type="checkbox" name="n1" class="pretty-checkbox__input" value="1">
                                        <span class="pretty-checkbox__label">tofu</span>
                                    </label>
                                </div>
                                <div class="options__price">+€3.99</div>
                            </div><!-- .options__item -->
                        </div>
                    </div>
                </div><!-- .product-view__group -->
            </div>
        </div><!-- .product-view__main -->
        <div class="product-view__checkout">
            <div class="product-view__counter">
                <div class="quantity shadow" data-quantity>
                    <button type="button" class="quantity__button quantity__button--minus" data-quantity-button="minus"></button>
                    <div class="quantity__field">
                        <input type="number" class="quantity__input" min="1" max="999" value="1" data-quantity-input>
                        <div class="quantity__placeholder"><span data-quantity-placeholder>1</span></div>
                    </div>
                    <button type="button" class="quantity__button quantity__button--plus" data-quantity-button="plus"></button>
                </div>
            </div>
            <div class="product-view__button">
                <button class="btn btn-order w-100 shadow">
                    <span>Add to order</span>
                    <span data-order-price>€11.90</span>
                </button>
            </div>
        </div><!-- .product-view__checkout -->
     </div><!-- .product-view -->
    <div class="overlay"></div>

{% endblock %}
